
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;üêçPython Refresher for Sustainable Energy Management Module
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;üéìNottingham Trent University
______________________________________________________________________________________________________

##### 2- Getting Started with Python
### Python Basics - Understanding variables, data types, and basic input output
______________________________________________________________________________________________________

## Outline
- Variables
- Data Types
- Data Type Conversion
- Basic arithmetic operations
- Operator Precedence
- Input/Output
- Time‚åöto Codeüíª
_______________________________________________________________________________________________________________________________________________________

## Variables

In [ ]:
print("In this session, we'll cover the fundamentals of Python programming.")
print("We'll start by understanding variables, data types, and basic input/output operations.")

In [ ]:
# Explanation of variables and assignments
x = 10  # Integer variable
y = 5.5  # Float variable
name = "John"  # String variable
is_python_fun = True  # Boolean variable

- Try to code and assign 4 other Integer, Float, String and Boolean variable with difeerent name and value and print them

______________________________________________________________________________________________________
## Data Types

In [ ]:
# Printing variables and their types
print("Variable x:", x, "Type:", type(x))
print("Variable y:", y, "Type:", type(y))
print("Variable name:", name, "Type:", type(name))
print("Variable is_python_fun:", is_python_fun, "Type:", type(is_python_fun))

- Try to print variables you assigned before like above example with their data type

______________________________________________________________________________________________________
## Data Type Conversion

In Python, data type conversion refers to the process of converting one data type to another. Python provides several built-in functions for type conversion. Here are some common data types and the corresponding conversion functions:

- ### Integer Conversion (int()):

Converts a number or a string containing a whole number into an integer.

In [ ]:
num_str = "123"

In [ ]:
print(num_str)

In [ ]:
print(type(num_str))

In [ ]:
num_int = int(num_str)

In [ ]:
print(type(num_int))

In [ ]:
print(num_int)  # Output: 123

- ### Float Conversion (float()):
Converts a number or a string containing a number (integer or floating-point) into a floating-point number.

In [ ]:
num_str = "123.45"

In [ ]:
print(type(num_str))

In [ ]:
num_float = float(num_str)

In [ ]:
print(type(num_float))

In [ ]:
print(num_float)  # Output: 123.45

- ### String Conversion (str()):
Converts a value into a string.

In [ ]:
num = 123
num_str = str(num)
print(num_str)  # Output: '123'

- ### ‚ö†Ô∏èWarning‚ö†Ô∏è
Below are some types of conversions related to more complex data types. We explain them in the following lectures, so you can skip to Basic arithmetic operations for now and see them after learning about these more complex data types.

- ### List Conversion (list()):
Converts a sequence (e.g., tuple, string, or another list) into a list.

In [ ]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)  # Output: [1, 2, 3]

- ### Tuple Conversion (tuple()):
Converts a sequence (e.g., list, string, or another tuple) into a tuple.

In [ ]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3)

- ### Set Conversion (set()):
Converts an iterable (e.g., list or tuple) into a set.

In [ ]:
my_list = [1, 2, 3, 2]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}

- ### Boolean Conversion (bool()):
Converts a value into a boolean. In general, 0, empty sequences, and None evaluate to False, while non-zero numbers and non-empty sequences evaluate to True.

In [ ]:
x = 0
boolean_value = bool(x)
print(boolean_value)  # Output: False

______________________________________________________________________________________________________
## Basic arithmetic operations

In [ ]:
# Performing basic arithmetic operations
# Addition
result = 12 + 8
print(result)  # Output: 20

In [ ]:
# Subtraction
result = 25 - 11
print(result)  # Output: 14

In [ ]:
# Multiplication
result = 4 * 7
print(result)  # Output: 28

In [ ]:
# Division
result = 30 / 6
print(result)  # Output: 5.0

In [ ]:
# Modulus
result = 19 % 5
print(result)  # Output: 4

In [ ]:
# Exponentiation
result = 2 ** 4
print(result)  # Output: 16

In [ ]:
# You can do basic arithmetic operations with int and float variables
sum_result = x + y
product_result = x * y
power_result = x ** 2
print(f"x + y = {x} + {y}= {sum_result}")
print(f"x * y = {x} * {y}= {product_result}")
print(f"x ** 2 = {x} ** 2 = {power_result}")

In [ ]:
# You can do basic arithmetic * and + operations with strings
text="Lecture 5-"
text10=10*text
print(text10)

In [ ]:
firstname="your first name"
lastname="your last name"
fullname=firstname+lastname
print(fullname)

In [ ]:
# So make it better with adding a space between :)
fullname=firstname+" "+lastname
print("My full name is:")
print(fullname)

______________________________________________________________________________________________________
## Operator Precedence
- In Python, as in mathematics, we need to keep in mind that operators will be evaluated in order of precedence, not from left to right or right to left.

If we look at the following expression:

In [ ]:
u = 10 + 10 * 5

- We may read it left to right, but remember that multiplication will be done first, so if we call print(u), we will receive the following value:

In [ ]:
print(u)

This is because 10 * 5 evaluates to 50, and then we add 10 to return 60 as the final result.

If instead we would like to add the value 10 to 10, then multiply that sum by 5, we can use parentheses like we would in math:

In [ ]:
u = (10 + 10) * 5
print(u)

- One way to remember the order of operation is through the acronym PEMDAS:

Order&nbsp;&nbsp;&nbsp;Letter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stands for

1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parentheses

2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exponent

3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Multiplication

4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Division

5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Addition

6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subtraction

______________________________________________________________________________________________________
## Input/Output
### Getting User Input
- The input() function allows you to get input from the user:

In [ ]:
name = input("Enter your name: ")
print("Hello,", name + "!")

### Displaying Output
- The print() function displays text or values in the console:

In [ ]:
age = 30
print("Your age is:", age)

### Formatting Output
- Use f-strings for clear and concise formatting:

In [ ]:
name = "Alice"
age = 25
print(f"Hello, {name}! You are {age} years old.")

### Time‚åöto Codeüíª
Now it's your turn to practic!

1Ô∏è‚É£ Write a code
- Create a variable named favorite_color and assign your favorite color to it.
- Print the value of favorite_color.

In [1]:
# Create a variable named favorite_color and assign your favorite color to it.
favorite_color = "blue"

# Print the value of favorite_color.
print("My favorite color is:", favorite_color)

My favorite color is: blue

2Ô∏è‚É£ Write a code
- Create two variables named num1 and num2, assign them different numbers, and then add them together and print result

In [2]:
# Create two variables named num1 and num2, and assign them different numbers.
num1 = 10
num2 = 20

# Add the two numbers together.
sum_result = num1 + num2

# Print the result.
print("The sum of", num1, "and", num2, "is:", sum_result)

The sum of 10 and 20 is: 30