
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;üêçPython Refresher for Sustainable Energy Management Module
#### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;üéìNottingham Trent University
______________________________________________________________________________________________________

### 8-Getting Started with Python
### Python Basics - Working with Lists, tuples, Dictionary, and sets
______________________________________________________________________________________________________

## Outline
- Working with List
- Working with Tuple
- Working with Dictionary
- Working with Range
- Working with Set
 __________________________________________________________________________________________________

## Working with List
1. Creating a List
2. Accessing Elements in a List
3. Slicing a List
4. Modifying Elements of List
5. Adding Elements to a List
6. Removing Elements from a List
7. Iterating Through a List
8. List Comprehension
9. Finding the Length of a List

### 1. Creating a List

In [ ]:
# Example 1: Creating a list
fruits = ['apple', 'banana', 'orange', 'grape']
print(fruits)
# Output: ['apple', 'banana', 'orange', 'grape']

### 2. Accessing Elements in a List

In [ ]:
# Example 2: Accessing elements in a list
first_fruit = fruits[0]
last_fruit = fruits[-1]
print("First Fruit:", first_fruit)
print("Last Fruit:", last_fruit)
# Output: First Fruit: apple
#         Last Fruit: grape

### 3. Slicing a List

In [ ]:
# Example 3: Slicing a list
selected_fruits = fruits[1:3]
print("Selected Fruits:", selected_fruits)
# Output: Selected Fruits: ['banana', 'orange']

### 4. Modifying Elements of List

In [ ]:
# Example 4: Modifying elements in a list
fruits[2] = 'kiwi'
print("Modified Fruits:", fruits)
# Output: Modified Fruits: ['apple', 'banana', 'kiwi', 'grape']

### 5. Adding Elements to a List

In [ ]:
# Example 5: Adding elements to a list
fruits.append('pineapple')
print("Updated Fruits:", fruits)
# Output: Updated Fruits: ['apple', 'banana', 'kiwi', 'grape', 'pineapple']

### 6. Removing Elements of List

In [ ]:
# Example 6: Removing elements from a list
removed_fruit = fruits.pop(1)
print("Removed Fruit:", removed_fruit)
print("Remaining Fruits:", fruits)
# Output: Removed Fruit: banana
#         Remaining Fruits: ['apple', 'kiwi', 'grape', 'pineapple']

### 7. Iterating Through a List

In [ ]:
# Example 7: Iterating through a list
print("Fruits:")
for fruit in fruits:
    print(fruit)
# Output: Fruits:
#         apple
#         kiwi
#         grape
#         pineapple

### 8. List Comprehension

In [ ]:
# Example 8: List comprehension
squared_numbers = [x**2 for x in range(5)]
print("Squared Numbers:", squared_numbers)
# Output: Squared Numbers: [0, 1, 4, 9, 16]

### 9. Finding the Length of a List

In [ ]:
# Example 9: Finding the length of a list
num_fruits = len(fruits)
print("Number of Fruits:", num_fruits)
# Output: Number of Fruits: 4

______________________________________________________________________________________________________
## Working with Tuple

1. Creating a Tuple
2. Accessing Elements of a Tuple
3. Slicing a Tuple
4. Immutable Nature of Tuple
5. Combining Tuples
6. Tuple Unpacking
7. Nested Tuples
8. Finding the Length of a Tuple

### 1. Creating a Tuple

In [ ]:
# Example 1: Creating a tuple
fruits_tuple = ('apple', 'banana', 'orange', 'grape')
print(fruits_tuple)
# Output: ('apple', 'banana', 'orange', 'grape')

### 2. Accessing Elements of a Tuple

In [ ]:
# Example 2: Accessing elements in a tuple
first_fruit = fruits_tuple[0]
last_fruit = fruits_tuple[-1]
print("First Fruit:", first_fruit)
print("Last Fruit:", last_fruit)
# Output: First Fruit: apple
#         Last Fruit: grape

### 3. Slicing a Tuple

In [ ]:
# Example 3: Slicing a tuple
selected_fruits = fruits_tuple[1:3]
print("Selected Fruits:", selected_fruits)
# Output: Selected Fruits: ('banana', 'orange')

### 4. Immutable Nature of Tuple

In [ ]:
# Example 4: Attempting to modify a tuple (results in an error)
# fruits_tuple[2] = 'kiwi'  # Uncommenting this line will raise an error
# Output: TypeError: 'tuple' object does not support item assignment

### 5. Combining Tuples

In [ ]:
# Example 5: Combining tuples
more_fruits = ('pineapple', 'watermelon')
all_fruits = fruits_tuple + more_fruits
print("All Fruits:", all_fruits)
# Output: All Fruits: ('apple', 'banana', 'orange', 'grape', 'pineapple', 'watermelon')

### 6. Tuple Unpacking

In [ ]:
# Example 6: Tuple unpacking
first, second, *rest = fruits_tuple
print("First:", first)
print("Second:", second)
print("Rest:", rest)
# Output: First: apple
#         Second: banana
#         Rest: ['orange', 'grape']

### 7. Nested Tuples

In [ ]:
# Example 7: Nested tuples
nested_tuple = (1, 2, ('apple', 'banana'), 3)
print("Nested Tuple:", nested_tuple)
# Output: Nested Tuple: (1, 2, ('apple', 'banana'), 3)

### 8. Finding the Length of a Tuple

In [ ]:
# Example 8: Finding the length of a tuple
num_fruits = len(fruits_tuple)
print("Number of Fruits:", num_fruits)
# Output: Number of Fruits: 4

______________________________________________________________________________________________________
## Working with Dictionary

1. Creating a Dictionary
2. Accessing Dictionary Values 
3. Modifying Dictionary Values
4. Adding New Key-Value Pairs to a Dictionary
5. Removing Key-Value Pairs from Dictionary
6. Iterating Through a Dictionary
7. Dictionary Comprehension
8. Checking Key Existence in a Dictionary

### 1. Creating a Dictionary

In [ ]:
# Example 1: Creating a dictionary
person_info = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person_info)
# Output: {'name': 'John', 'age': 25, 'city': 'New York'}

### 2. Accessing Dictionary Values

In [ ]:
# Example 2: Accessing values in a dictionary
name_value = person_info['name']
age_value = person_info.get('age')
print("Name:", name_value)
print("Age:", age_value)
# Output: Name: John
#         Age: 25

### 3. Modifying Dictionary Values

In [ ]:
# Example 3: Modifying values in a dictionary
person_info['age'] = 26
print("Updated Person Info:", person_info)
# Output: Updated Person Info: {'name': 'John', 'age': 26, 'city': 'New York'}

### 4. Adding New Key-Value Pairs to a Dictionary

In [ ]:
# Example 4: Adding new key-value pairs to a dictionary
person_info['occupation'] = 'Engineer'
print("Updated Person Info:", person_info)
# Output: Updated Person Info: {'name': 'John', 'age': 26, 'city': 'New York', 'occupation': 'Engineer'}

### 5. Removing Key-Value Pairs from Dictionary

In [ ]:
# Example 5: Removing key-value pairs from a dictionary
removed_city = person_info.pop('city')
print("Removed City:", removed_city)
print("Remaining Person Info:", person_info)
# Output: Removed City: New York
#         Remaining Person Info: {'name': 'John', 'age': 26, 'occupation': 'Engineer'}

### 6. Iterating Through a Dictionary

In [ ]:
# Example 6: Iterating through a dictionary
print("Person Info:")
for key, value in person_info.items():
    print(f"{key}: {value}")
# Output:
# Person Info:
# name: John
# age: 26
# occupation: Engineer

### 7. Dictionary Comprehension

In [ ]:
# Example 7: Dictionary comprehension
squared_dict = {x: x**2 for x in range(5)}
print("Squared Dictionary:", squared_dict)
# Output: Squared Dictionary: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### 8. Checking Key Existence in a Dictionary

In [ ]:
# Example 8: Checking key existence in a dictionary
is_occupation_exist = 'occupation' in person_info
print("Does 'occupation' exist?", is_occupation_exist)
# Output: Does 'occupation' exist? True

- #### Example:

In [ ]:
# Example: Sustainable Energy Management Dictionary
energy_sources = {
    'solar': {
        'description': 'Converts sunlight into electricity using photovoltaic cells.',
        'advantages': ['Clean energy', 'Low operating costs'],
        'disadvantages': ['Intermittent power generation', 'High initial costs']
    },
    'wind': {
        'description': 'Generates electricity by harnessing the power of wind to turn turbines.',
        'advantages': ['Renewable', 'Low greenhouse gas emissions'],
        'disadvantages': ['Visual impact', 'Intermittent nature']
    },
    'hydro': {
        'description': 'Produces electricity by capturing the energy of flowing water.',
        'advantages': ['Reliable power generation', 'Low operating costs'],
        'disadvantages': ['Environmental impact', 'Dependence on water availability']
    },
    'geothermal': {
        'description': 'Extracts heat from the Earth to generate electricity.',
        'advantages': ['Steady power production', 'Low emissions'],
        'disadvantages': ['Limited geographical availability', 'High upfront costs']
    }
}

# Accessing information about solar energy
solar_description = energy_sources['solar']['description']
solar_advantages = energy_sources['solar']['advantages']
solar_disadvantages = energy_sources['solar']['disadvantages']

# Displaying information about solar energy
print("Solar Energy:")
print("Description:", solar_description)
print("Advantages:", solar_advantages)
print("Disadvantages:", solar_disadvantages)

______________________________________________________________________________________________________
## Working with Range

1. Creating a Range
2. Specifying Start and End in a Range
3. Specifying Step Size in Range
4. Using Range in a For Loop
5. Checking Membership of a Range
6. Generating a Sequence of Squares in Range
7. Using Range with len()
8. Reversing a Range

### 1. Creating a Range

In [ ]:
# Example 1: Creating a range
my_range = range(5)
print(list(my_range))
# Output: [0, 1, 2, 3, 4]

### 2. Specifying Start and End in a Range

In [ ]:
# Example 2: Specifying start and end in a range
custom_range = range(2, 8)
print(list(custom_range))
# Output: [2, 3, 4, 5, 6, 7]

### 3. Specifying Step Size in Range

In [ ]:
# Example 3: Specifying step size in a range
step_range = range(1, 10, 2)
print(list(step_range))
# Output: [1, 3, 5, 7, 9]

### 4. Using Range in a For Loop

In [ ]:
# Example 4: Using range in a for loop
for num in range(3):
    print(num)
# Output:
# 0
# 1
# 2

### 5. Checking Membership of a Range

In [ ]:
# Example 5: Checking membership in a range
check_membership = 3 in range(5)
print(check_membership)
# Output: True

### 6. Generating a Sequence of Squares in Range

In [ ]:
# Example 5: Checking membership in a range
check_membership = 3 in range(5)
print(check_membership)
# Output: True

### 7. Using Range with len()

In [ ]:
# Example 7: Using range with len() for indexing
my_list = ['apple', 'banana', 'orange', 'grape']
for i in range(len(my_list)):
    print(f"Index {i}: {my_list[i]}")
# Output:
# Index 0: apple
# Index 1: banana
# Index 2: orange
# Index 3: grape

### 8. Reversing a Range

In [ ]:
# Example 8: Reversing a range
reversed_range = range(5, 0, -1)
print(list(reversed_range))
# Output: [5, 4, 3, 2, 1]

______________________________________________________________________________________________________
## Working with Set

1. Creating a Set
2. Adding Elements to a Set
3. Removing Elements from a Set
4. Set Operations
5. Checking Membership in a Set
6. Iterating Through a Set
7. Set Comprehension

### 1. Creating a Set

In [ ]:
# Example 1: Creating a set
fruits_set = {'apple', 'banana', 'orange', 'grape'}
print(fruits_set)
# Output: {'apple', 'banana', 'orange', 'grape'}

### 2. Adding Elements to a Set

In [ ]:
# Example 2: Adding elements to a set
fruits_set.add('pineapple')
print("Updated Fruits Set:", fruits_set)
# Output: Updated Fruits Set: {'apple', 'banana', 'orange', 'grape', 'pineapple'}

### 3. Removing Elements from a Set

In [ ]:
# Example 3: Removing elements from a set
fruits_set.remove('banana')
print("Updated Fruits Set:", fruits_set)
# Output: Updated Fruits Set: {'apple', 'orange', 'grape', 'pineapple'}

### 4. Set Operations

In [ ]:
# Example 4: Set operations (union, intersection, difference)
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1.union(set2)
intersection_result = set1.intersection(set2)
difference_result = set1.difference(set2)

print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference:", difference_result)
# Output:
# Union: {1, 2, 3, 4, 5, 6, 7, 8}
# Intersection: {4, 5}
# Difference: {1, 2, 3}

### 5. Checking Membership in a Set

In [ ]:
# Example 5: Checking membership in a set
check_membership = 'orange' in fruits_set
print("Is 'orange' in the set?", check_membership)
# Output: Is 'orange' in the set? True

### 6. Iterating Through a Set

In [ ]:
# Example 6: Iterating through a set
print("Fruits Set:")
for fruit in fruits_set:
    print(fruit)
# Output:
# Fruits Set:
# apple
# orange
# grape
# pineapple

### 7. Set Comprehension

In [ ]:
# Example 7: Set comprehension
squared_set = {x**2 for x in range(5)}
print("Squared Set:", squared_set)
# Output: Squared Set: {0, 1, 4, 9, 16}